.game-over-modal-root {
  position: absolute;
  width: 25vw;
  left: 7.75vw;
  top: 12.5vw;

  background-color: #d1d1d1;
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 1vw;
}

.game-over-header-h {
  margin: 0.5vw;
  text-align: center;
}

.game-over-br {
  line-height: 0px;
}

.game-over-players {
  margin: 0.5vw;
  text-align: center;
}

.game-over-btn {
  width: 100%;
  height: 3vw;
  font-size: 1.5vw;

  background-color: #444444;
  color: #ffffff;
  border-radius: 0.25vw;
  margin-bottom: 0.25vw;
}

.game-over-btn:focus {
  outline-color: #a1a1a1;
}
